body {
    font-family: 'Roboto', 'sans-serif';
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    background-color: black;
    margin: 0px;
}

a,
a:visited {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border: 1px solid;
    border-color: #3882f6;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
}

.header {
    display: flex;
    padding: 16px 200px;
    justify-content: space-between;
    background-color: #1f2937;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 16px;
}

.top {
    display: flex;
    justify-content: center;
    flex: auto;
    background-color: #1f2937;
    padding: 100px 200px;
    gap: 10px;
}

.left-top,
.right-top {
    flex: 1;
    font-size: 18px;
    padding: 5px;
} 

.right-top {
    background-color: #4e5b6e;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 16px;
}

.info {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
    padding-top: 30px;
    padding-bottom: 120px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 25px 0px;
}

.info-boxes {
    display: flex;
    gap: 25px;
    margin: 25px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.box {
    width: 168px;
    height: 168px;
    align-self: center;
    border: 3px solid;
    border-color: #3882f6;
    border-radius: 20px;
}

.text {
    text-align: center;
    width: 168px;
    font-size: 18px;
    color: #4e5b6e
}

.quote {
    text-align: center;
    flex: auto;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    padding: 110px 290px;
}

.text1 {
    text-align: left;
}

.citation {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    text-align: end;
    padding: 10px;
    margin-right: 60px;
}

.bottom {
    flex: auto;
    display: flex;
    background-color: #f9faf8;
    padding: 60px;
}

.background {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: #3882f6;
    margin: 30px 120px;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 18px;
    padding: 50px 120px;
}

.call {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.subtext1 {
    font-weight: 300;
    font-size: 18px;
}

#signup1 {
    border: 2px solid;
    border-color: #f9faf8;
}

.footer {
    display: flex;
    padding: 40px;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}